div.container.map {
	display: flex;
	flex-flow: column;
	padding: 0px;
	height: 100%;
    width: 100%;
	max-width: none;
	top:0px;
	position: fixed;
	z-index: 0;
}

div.container.map div.row.map-margin-top {
	flex: 0 1 51px; /* TODO: FIX FOR MOBILE */
	-webkit-flex: 0 1 51px;
}

div.container.map div.row.map-holder {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	width: 100%;
	height: 100%;
	margin: 0px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 div.container.map div.row.map-holder div#map {
	height: 100%;
	width: 100%;
	z-index: 0;
}

@media only screen and (min-width: 992px) {
	div.container.map div.row.map-margin-top {
		flex: 0 1 69px; 
		-webkit-flex: 0 1 69px;
	}
	
}